/* タブレット向けレイアウト */
@media all and (max-width: 1000px){
  .container{
    max-width: 720px;
  }

  .lesson{
    width: 50%;
    margin-bottom: 50px;
  }

  footer{
    text-align: center;
  }

  .top-wrapper h1{
    font-size: 32px;
  }

  .heading h2{
    font-size: 20px;
  }

  .heading h3{
    font-size: 16px;
  }
}

/* スマホ向けレイアウト */
@media all and (max-width: 640px){
  .container{
    max-width: 100%;
  }

  .lesson{
    width: 100%;
  }

  .btn{
    width: 100%;
  }

  .facebook{
    margin-bottom: 10px;
  }

  .top-wrapper {
    text-align: left;
  }
  
  .top-wrapper h1{
    font-size: 24px;
  }

  .heading h2{
    font-size: 16px;
  }

  .heading h3{
    font-size: 14px;
  }
}