/* タブレット向けレイアウト */
@media all and (max-width: 1000px){
  .container{
    max-width: 720px;
  }

  .lesson{
    width: 50%;
    margin-bottom: 50px;
  }

  footer{
    text-align: center;
  }
}

/* スマホ向けレイアウト */

/* ブレイクポイントが640px以下の時のメディアクエリを設定 */
@media all and ( ){
  /* containerクラスの幅をmax-widthを100%に指定 */


  /* lessonクラスのwidthを100%に指定 */


  /* btnクラスのwidthを100%に指定 */


  /* facebooボタンにmargin-bottom: 10px;を追加 */


}